.card {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}

#age::-webkit-outer-spin-button,
#age::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#age[type=number] {
    -moz-appearance: textfield;
}

.note {
  font-size: 14px;
}
